#Blur1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#DeleteModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#Blur1,
#DeleteModal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#DeleteModal.hider,
#Blur1.hider {
  opacity: 0;
  pointer-events: none;
}

#DeleteModal.hider {
  top: 0;
}

/*CONFIG MODAL ABAIXO*/

.modal-quest {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 16px 0px;
}

.modifyModal {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  flex-direction: row;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
