<div id="Overlay" class="blurem"></div>
<div id="Modal-Alter-Class" class="blurem">
  <div class="modal-header">
    <h2>Adicionar uma turma</h2>
    <button id="close-ClassModal" class="button-select">Fechar</button>
  </div>
  <div class="modal-body">
    <div class="main-Content">
      <div>
        <h4>Informações do Aluno</h4>
        <div class="student-data">
          <input
            type="text"
            class="input"
            placeholder="Digite o nome do aluno"
          />
          <select name="" id="" class="button-select">
            <option value="Não Autorizado">Não Autorizado</option>
            <option value="Autorizado">Autorizado</option>
          </select>
        </div>
      </div>
      <div>
        <h4>Selecione a turma do aluno</h4>
        <select name="" id="" class="button-select">
          <option value="">Selecione</option>
          <option>2021 A TI</option>
          <option>2021 B TI</option>
          <option>2022 A TI</option>
          <option>2022 B TI</option>
          <option>2023 A TI</option>
          <option>2023 B TI</option>
          <option>2021 A AGROPEC</option>
          <option>2021 B AGROPEC</option>
          <option>2022 A AGROPEC</option>
          <option>2022 B AGROPEC</option>
          <option>2023 A AGROPEC</option>
          <option>2023 B AGROPEC</option>
          <option>2021 AGROECO</option>
          <option>2022 AGROECO</option>
          <option>2023 AGROECO</option>
        </select>
      </div>
    </div>
    <div class="layout-footer-modal">
      <button class="button-select" id="Close-Alter-Button">
        Adicionar Turma
      </button>
    </div>
  </div>
</div>
