<div id="Student-fade" class="Student-hide"></div>
<div id="Student-Modal" class="Student-hide">
  <div class="modal-header">
    <h2>Busca Por Turma</h2>
    <button id="Close-Student-Modal" class="button-select">Fechar</button>
  </div>
  <div class="modal-body">
    <div class="searching">
      <div class="title">
        <h3>Listagem de turmas</h3>
      </div>
      <div class="button-container">
        <div class="computing">
          <h4>Informática</h4>
          <div class="list-button">
            <form action="">
              <button class="button-select">2021 A TI</button>
              <button class="button-select">2021 B TI</button>
              <button class="button-select">2022 A TI</button>
              <button class="button-select">2022 B TI</button>
              <button class="button-select">2023 A TI</button>
              <button class="button-select">2023 B TI</button>
            </form>
          </div>
        </div>
        <div class="agriculte">
          <h4>Agropecuária</h4>
          <div class="list-button">
            <form action="">
              <button class="button-select">2021 A AGROPEC</button>
              <button class="button-select">2021 B AGROPEC</button>
              <button class="button-select">2022 A AGROPEC</button>
              <button class="button-select">2022 B AGROPEC</button>
              <button class="button-select">2023 A AGROPEC</button>
              <button class="button-select">2023 B AGROPEC</button>
            </form>
          </div>
        </div>
        <div class="agroecology">
          <h4>Agroecologia</h4>
          <div class="list-button">
            <form action="">
              <button class="button-select">2021 AGROECO</button>
              <button class="button-select">2022 AGROECO</button>
              <button class="button-select">2023 AGROECO</button>
            </form>
          </div>
        </div>
        <div class="others">
          <h4>Outras turmas</h4>
          <div class="list-button">
            <form action=""></form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
