body .students-Main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.students-Principal {
  background-color: rgb(189, 189, 189);
  height: 100vh;
  width: 1024px;
  padding: 32px;
  border-radius: 50px;
}

.students-Principal .students-Header-Button {
  display: flex;
  width: 100%;
  margin: 12px 0px;
  justify-content: space-between;
}
.button-left {
  display: flex;
}

.button-left button {
  margin-left: 8px;
}

.students-Table {
  display: flex;
  justify-content: center;
}

th {
  width: 341px;
}

td {
  text-align: center;
  padding: 8px 0px;
}

.delete,
.alter-class {
  cursor: pointer;
}

.alter-class:hover {
  transition: 0.5s;
  color: rgb(67, 160, 71);
}

.delete:hover,
#Del-Class:hover {
  transition: 0.5s;
  color: rgb(239, 83, 80);
}

.Options {
  display: flex;
  justify-content: center;
  gap: 8px;
}
