<div id="AlterFade" class="hide-me"></div>
<div id="AlterModal" class="hide-me">
  <div class="modal-header">
    <h2>Edição de Entidades</h2>
    <button id="close-AlterModal" class="button-select">Fechar</button>
  </div>
  <div class="modal-body">
    <h3>Alteração de Entidade</h3>
    <div class="modal-quest">
      <select name="TypeUser" class="button-select">
        <option value="servidor">Servidor da CAED</option>
        <option value="Guarda">Guarda</option>
      </select>
    </div>
    <div class="modal-rooter">
      <button class="button-select" id="Confirmn-Alter">
        Confirmar Mudanças
      </button>
    </div>
  </div>
</div>
