<div id="Blur1" class="hider"></div>
<div id="DeleteModal" class="hider">
  <div class="modal-header">
    <h2>Edição de Entidades</h2>
    <button id="close-DeleteModal" class="button-select">Fechar</button>
  </div>
  <div class="modal-body">
    <h3>Realmente Deseja Apagar esta entidade?</h3>
    <div class="modal-quest">
      <form action="" class="modifyModal">
        <button class="button-select" id="Sim">Sim</button>
        <button class="button-select" id="Nao">Não</button>
      </form>
    </div>
  </div>
</div>
