<div id="Fader" class="hider-me"></div>
<div id="Modal-ADD-class" class="hider-me">
  <div class="modal-header">
    <h2>Adicionar Turma</h2>
    <button id="close-StudentsModal" class="button-select">Fechar</button>
  </div>
  <div class="modal-body"></div>
</div>
