* {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
}

h1 {
  margin-bottom: 1rem;
}
#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

.avulsa {
  outline-color: rgb(67, 160, 71);
}

.painel #open-modal {
  display: flex;
  margin-left: auto;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#modal.hide {
  top: 0;
  transition: 0.5s;
}

/*MODAL ABAIXO*/

.layout-center-modal {
  padding: 16px 0px;
}

.layout-center-modal .passwordsInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
}
.layout-center-modal .modalInput {
  border: none;
  border-bottom: #212121 solid 1px;
  height: 32px;
  outline-color: rgb(67, 160, 71);
}

.layout-rooter-modal {
  border-top: 1px solid #ccc;
  padding: 16px 0px;
}

.layout-rooter-modal {
  display: flex;
  justify-content: right;
}
